<% layout('layouts/boilerplate') -%>
<header
  class="relative flex h-[45vh] flex-col items-center justify-center bg-[#383b28] text-white"
>
  <p class="text-5xl">Join a Workshop</p>
  <p class="mt-4 w-[40%] text-center text-xl font-thin">
    Find and book the workshop you wanted from your chosen city to experience
    the culture
  </p>
  <div
    class="absolute bottom-0 flex w-[32%] translate-y-[50%] items-center justify-center gap-x-6 rounded-2xl bg-[#d9d9d9] px-6 py-3 text-xl text-black"
  >
    <p>Where</p>
    <div class="h-8 w-[1px] border-l border-[#acacac]"></div>
    <p>When</p>
    <div class="h-8 w-[1px] border-l border-[#acacac]"></div>
    <p>How many Guest</p>
    <img src="images/search-workshop.png" alt="" srcset="" />
  </div>
</header>

<section class="px-32">
  <h1 class="my-16 text-center text-5xl font-medium">Crafting</h1>
  <div class="grid grid-cols-3 gap-8 text-lg">
    <% for(let workshop of workshops){ %> <% if(workshop.category ===
    "Crafting"){ %>
    <a
      href="/workshops/<%= workshop._id %>"
      class="overflow-hidden rounded-lg bg-[#697b51]"
    >
      <img
        src="<%= workshop.images[0].url %>"
        class="aspect-video w-full object-cover"
      />
      <div class="px-3 py-2 text-white">
        <p class="font-semibold"><%= workshop.title %></p>
        <p>Pick your date</p>
        <div class="mt-4 flex justify-between">
          <p><%= workshop.price %></p>
          <p><%= workshop.location %></p>
        </div>
      </div>
    </a>
    <% } %> <% } %>
  </div>
</section>

<section class="mb-16 px-32">
  <h1 class="my-16 text-center text-5xl font-medium">Cooking</h1>
  <div class="grid grid-cols-3 gap-8 text-lg">
    <% for(let workshop of workshops){ %> <% if(workshop.category ===
    "Cooking"){ %>
    <a
      href="/workshops/<%= workshop._id %>"
      class="overflow-hidden rounded-lg bg-[#697b51]"
    >
      <img
        src="<%= workshop.images[0].url %>"
        class="aspect-video w-full object-cover"
      />
      <div class="px-3 py-2 text-white">
        <p class="font-semibold"><%= workshop.title %></p>
        <p>Pick your date</p>
        <div class="mt-4 flex justify-between">
          <p><%= workshop.price %></p>
          <p><%= workshop.location %></p>
        </div>
      </div>
    </a>
    <% } %> <% } %>
  </div>
</section>
<%- include('../partials/footer') %>
