<% layout('layouts/boilerplate') -%>
<section class="bg-[#697b51] px-32 py-28">
  <h1 class="text-5xl font-bold text-white">SHOPPING CART</h1>
</section>

<% for(let cart of user.cart) { %>
<section
  class="mt-4 flex justify-between bg-[#697b51] px-32 py-28 text-lg text-white"
>
  <div class="flex gap-x-8">
    <img
      src="<%= cart.workshop.images[0].url %>"
      class="aspect-square w-40 rounded-lg"
    />
    <div class="flex flex-col justify-between">
      <div>
        <p class="text-bold text-2xl font-semibold">
          <%= cart.workshop.title %>
        </p>
        <p class="mt-2"><%= cart.workshop.location %></p>
      </div>
      <p class="w-[70%] text-xl">
        You have made a reservation for this workshop for <%= cart.guest %>
        guests on <%= cart.date %>, at <%= cart.time %>
      </p>
    </div>
  </div>
  <div class="flex flex-col justify-between text-3xl font-semibold">
    <p>Total:</p>
    <p class="mt-2">Rp <%= cart.guest * cart.workshop.price %></p>
  </div>
</section>
<% } %>

<section class="mt-16 flex justify-end px-32 text-xl">
  <div class="flex gap-x-4 font-semibold">
    <a
      href="/workshops"
      class="rounded-lg border border-[#64764c] p-2 text-[#64764c] transition duration-150 ease-in hover:bg-[#64764c] hover:text-white"
      >Continue Shopping</a
    >
    <a
      href="/checkout"
      class="rounded-lg border border-[#64764c] bg-[#64764c] p-2 text-white"
      >Checkout</a
    >
  </div>
</section>

<footer
  class="mt-16 flex flex-col items-center justify-center gap-y-8 bg-[#f1f1f1] py-8 text-3xl font-medium text-[#383b28]"
>
  <a href="/faq" class="hover:underline">FAQ</a>
  <a href="/contactus" class="hover:underline">Contact Us</a>
  <div class="flex items-center justify-center gap-x-4">
    <a href="/"
      ><img src="/images/Facebook.png" alt="" srcset="" class="w-6"
    /></a>
    <a href="/"
      ><img src="/images/Instagram.png" alt="" srcset="" class="w-6"
    /></a>
    <a href="/"
      ><img src="/images/Twitter.png" alt="" srcset="" class="w-6"
    /></a>
    <a href="/"
      ><img src="/images/Whatsapp.png" alt="" srcset="" class="w-6"
    /></a>
    <a href="/"><img src="/images/Email.png" alt="" srcset="" class="w-6" /></a>
  </div>
</footer>
